@font-face {
    font-family: 'norse';
    src: url('fonts/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --background-secondary-color: #F9FAFB;
    --input-box-background-color: #FFFEFE;
    --input-box-border-color: #EAEBEF;
    --input-box-invalid-border-color: #D46F6C;
    --input-box-focus-border-color: #456CDE;
    height: 100%;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Optional: Makes the layout fill the viewport height */
    margin: 0; /* Remove default body margin */
}

div.left {
    flex: 1 1 0;
    background: url(assets/photo-1585202900225-6d3ac20a6962.avif) center / cover no-repeat;
    display: flex;
    flex-direction: column;
    position: relative;
}

div.right {
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15%;
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: rgb(0, 0, 0, 0.4);
}

#logo-img {
    flex: 0;
    height: 100%;
    align-content: center;
}

#logo-img img {
    height: 80%;
}

#logo-text {
    flex: 0;
    height: 100%;
    padding: 10px;
}

#logo-text h1 {
    margin-top: 20%;
    font-family: "norse";
    font-weight: 1000;
    font-size: 10vh;
    color: white;
}

.credits {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.credits a {
    color: inherit;
}

div.right h3 {
    font-size: 34px;
    font-weight: 600;
}

.header-container {
    background-color: var(--background-secondary-color);
    flex: 1;
    padding: 0 3rem;
    position: relative;
}

.header-container div {
    position: absolute;
    bottom: 0;
}

.form-container {
    flex: 0;
    padding: 0 3rem 3rem 3rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form label {
    font-weight: 600;
    letter-spacing: 2px;
}

form input {
    width: 25rem;
    padding: 1rem;
    background-color: var(--input-box-background-color);
    border: var(--input-box-border-color) solid 2px;
    border-radius: 4px;
    font-size: 18px;
}

input:focus {
    border: var(--input-box-focus-border-color) solid 2px;
    outline: none;
}

input:invalid {
    border: var(--input-box-invalid-border-color) solid 2px;
    outline: none;
}

.cta-container {
    background-color: var(--background-secondary-color);
    flex: 1;
    padding: 0 3rem;
}

.cta-container button {
    margin: 2rem 0;
    padding: 1rem 4rem;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border: none;
    background-color: #596D48;
}

.cta-container p {
    margin: 0;
    font-size: 18px;
}

.cta-container a {
    color: #596D48;
    font-weight: 700;
    text-decoration: none;
}