* {
    --primary-color: #1992D4;
    --secondary-color: #F0B42A;
    --primary-text-color: black;
    --negative-text-color: #ffffff;
    --secondary-text-color: #636363;
    --background-color: #E2E8F0;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.container {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-template-columns: 300px 1fr;
}


/*** Sidebar style ***/ 

div.sidebar {
    grid-row: 1 / 3;
    background-color: var(--primary-color);
    color: var(--negative-text-color);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

div.sidebar #title img{
    width: 50px;
    height: 50px;
}

div.sidebar #title h2 {
    margin: 0;
}

div.sidebar ul {
    list-style-type: none;
    padding: 0;
}

div.sidebar ul li {
    padding: 10px;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

div.sidebar .line {
    display: flex;
    gap: 20px;
    align-items: center;
}

div.sidebar .line img {
    filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(15deg) brightness(101%) contrast(101%);
    width: 20px;
    height: 20px;
}


/*** Header style ***/ 

div.header {
    grid-column: 2;
}


/*** Content style ***/ 

div.main {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
}

div.main .projects {
    grid-column: 1;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

div.main .project-card {
    display: flex;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

div.main .stripe {
    width: 8px;
    background-color: var(--secondary-color); 
}

div.main .project-card .content {
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div.main .project-card .project-info {
    display: flex;
    flex-direction: column;
    gap: 8px
}

div.main .project-card .project-info h3 {
    margin: 0;
    font-size: 20px;
    color: var(--primary-text-color);
}

div.main .project-card .project-info p {
    margin: 0;
    font-size: 16px;
    color: var(--secondary-text-color);
}

div.main .project-card .content .interactions {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-bottom: 0;
}

div.main .interactions img {
    width: 20px;
    height: 20px;
}

div.main .announcements {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    border-radius: 8px;
    margin: 20px;
    padding: 24px 40px 24px 40px;
}

div.main .trending {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
    border-radius: 8px;
    margin: 20px;
}